* {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}
/* header */

.header li:not(:first-child) {
    margin-top: 12px;
}

.header a {
    color: #333;
}

.header a:hover {
    text-decoration: underline;
}

.header .appsbutton {
    width: 15px;
    height: auto;
}

/* google-img */
.google-img {
    /* text-align: center; */
    margin-top: 100px;
    margin-bottom: 10px;
}

.google-img img {
    width: 300px;
}

/* search area  */

.search-area {
    width: 500px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 1px;
    text-align: start !important;
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
}

.search a {
    margin-left: 5px;
    margin-right: 5px;
}

.search input {
    height: 20px;
    padding: 4px;
    font-size: 13px;
}

.search .bi {
    opacity: .4;
    font-size: 13px;
    font-weight: bold;
}

/* buttons  */

.buttons button {
    padding: 4px;
    font-size: 11px;
}

.buttons button:hover {
    cursor: pointer;
}

/* footer  */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, .15);
}

footer a {
    margin-right: 20px;
    margin-bottom: 11px;
    color: gray;
    transition: opacity .2s ease-in-out;
}

footer a.left {
    float: left;
}

footer a.right {
    float: right;
}

footer a:hover {
    opacity: .6;
}
